.shop {
	
}

.shop2 {
background-image: url(img/shop.png);
background-position: 2px 2px;
width: 120px;height: 20px;
}

.shop3 {
background-image: url(img/shop.png);
background-position: 2px 46px;
width: 15px;height: 7px;
}

.shop4 {
	
}

.shop5 {
	
}