<div id="viewport">	
	<div class="viewport-deco viewport-deco-t-m"></div>
	<div class="viewport-deco viewport-deco-t-r"></div>
	<div class="viewport-deco viewport-deco-r-m"></div>
	<div class="viewport-deco viewport-deco-b-r"></div>
	<div class="viewport-deco viewport-deco-b-m"></div>
	<div class="viewport-deco viewport-deco-b-l"></div>
	<div class="viewport-deco viewport-deco-l-m"></div>

	<div id="header">
		<div id="hp-bar">
			<div class="plus-icon"></div>
		</div>
		<div id="coins-bar"></div>
		<div id="crystals-bar"></div>
	</div>
	<div id="body">
		<div class="viewport-deco viewport-deco-b-m"></div>
		<div class="viewport-deco viewport-deco-b-l"></div>
		<div class="viewport-deco viewport-deco-b-r"></div>		

		<ul id="main-menu">
			<li id="main-menu-cards-btn"></li>
			<li id="main-menu-cards-btn"></li>
			<li id="main-menu-cards-btn"></li>
		</ul>
	</div>
	<div id="footer">
		<div class="viewport-deco viewport-deco-t-l"></div>
		<div class="viewport-deco viewport-deco-t-m"></div>
		<div class="viewport-deco viewport-deco-t-r"></div>
	</div>
</div>